* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 5px;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

code {
  font-family: monospace;
}

a:visited {
  color: blue;
}

div.section {
  margin: 20px 0px;
}

div.section a {

}

#browser-msg {
  border: 1px solid #333;
  padding: 5px;
  background-color: #f7f5bc;
  border-style: dashed;
  margin-top: 5px;
}

#pages {

}

#pages > div {
  margin-top: 5px;
}

#test-output {
  border: 1px solid #bbb;
}

#test-output > div {
  border: 1px solid #ccc;
  padding: 2px;
  margin: 2px;
}

.pass, .fail {
  font-family: monospace;
  font-weight: bold;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.final {
  background-color: #eee;
}

#ua {
  margin-top: 20px;
  border: 1px solid #666;
  font-family: monospace;
}